<ul class="steps steps-vertical lg:steps-horizontal w-full mb-8 bg-base-100 p-6 rounded-box shadow-lg">
    <li class="step step-primary" data-content="1" id="step1">Build Network</li>
    <li class="step" data-content="2" id="step2">Input Dataset</li>
    <li class="step" data-content="3" id="step3">Forward Pass</li>
    <li class="step" data-content="4" id="step4">Calculate Loss</li>
    <li class="step" data-content="5" id="step5">Train Model</li>
    <li class="step" data-content="6" id="step6">View Results</li>
</ul>
